{% extends "base.html" %}
{% block main %}
<!-- Héritage de template ? Block(s) ? -->
<div class="grid">
    <article>
        <h2>Discover the {{json_response['name']}}</h2>

        <div class="description">
            {{json_response['description']}}
        </div>

        <div class="card">
            <img src="{{json_response['avatar']}}" />
            <dl>
                <dt>Name</dt>
                <dd>{{json_response['name']}}</dd>
                <dt>Name meaning</dt>
                <dd>{{json_response['name_meaning']}}</dd>
                <dt>Diet</dt>
                <dd>{{json_response['diet']}}</dd>
                <dt>Height</dt>
                <dd>{{json_response['height']}} m.</dd>
                <dt>Length</dt>
                <dd>{{json_response['length']}} m.</dd>
                <dt>Weight</dt>
                <dd>{{json_response['weight']}} kg.</dd>
            </dl>
        </div>
    </article>
    <aside>
            <h3>Top rated dinosaurs</h3>
            <!-- iterate here ? -->
                <a href="/dinosaur/{{json_top_rate[0]['slug']}}">
                    <figure>
                        <img src="{{json_top_rate[0]['avatar']}}" alt="{{json_top_rate[0]['name']}}" />
                        <figcaption>Discover the {{json_top_rate[0]['name']}}</figcaption>
                    </figure>
                </a>

                <a href="/dinosaur/{{json_top_rate[1]['slug']}}">
                    <figure>
                        <img src="{{json_top_rate[1]['avatar']}}" alt="{{json_top_rate[1]['name']}}" />
                        <figcaption>Discover the {{json_top_rate[1]['name']}}</figcaption>
                    </figure>
                </a>

                <a href="/dinosaur/{{json_top_rate[2]['slug']}}">
                    <figure>
                        <img src="{{json_top_rate[2]['avatar']}}" alt="{{json_top_rate[2]['name']}}" />
                        <figcaption>Discover the {{json_top_rate[2]['name']}}</figcaption>
                    </figure>
                </a>
    </aside>
</div>
{% endblock %}
