{% extends "base.html" %}
<!-- Héritage de template ? Block(s) ? -->
{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>
    
    <a href="/dinosaur/{{json_response[0]['slug']}}">
        <figure>
            <img src="{{json_response[0]['avatar']}}" alt="{{json_response[0]['name']}}" />
            <figcaption>Discover the {{json_response[0]['name']}}</figcaption>
        </figure>
    </a>

    <a href="/dinosaur/{{json_response[1]['slug']}}">
        <figure>
            <img src="{{json_response[1]['avatar']}}" alt="{{json_response[1]['name']}}" />
            <figcaption>Discover the {{json_response[1]['name']}}</figcaption>
        </figure>
    </a>

    <a href="/dinosaur/{{json_response[2]['slug']}}">
        <figure>
            <img src="{{json_response[2]['avatar']}}" alt="{{json_response[2]['name']}}" />
            <figcaption>Discover the {{json_response[2]['name']}}</figcaption>
        </figure>
    </a>

    <a href="/dinosaur/{{json_response[3]['slug']}}">
        <figure>
            <img src="{{json_response[3]['avatar']}}" alt="{{json_response[3]['name']}}" />
            <figcaption>Discover the {{json_response[3]['name']}}</figcaption>
        </figure>
    </a>

    <a href="/dinosaur/{{json_response[4]['slug']}}">
        <figure>
            <img src="{{json_response[4]['avatar']}}" alt="{{json_response[4]['name']}}" />
            <figcaption>Discover the {{json_response[4]['name']}}</figcaption>
        </figure>
    </a>

    <a href="/dinosaur/{{json_response[5]['slug']}}">
        <figure>
            <img src="{{json_response[5]['avatar']}}" alt="{{json_response[5]['name']}}" />
            <figcaption>Discover the {{json_response[5]['name']}}</figcaption>
        </figure>
    </a>

    <a href="/dinosaur/{{json_response[6]['slug']}}">
        <figure>
            <img src="{{json_response[6]['avatar']}}" alt="{{json_response[6]['name']}}" />
            <figcaption>Discover the {{json_response[6]['name']}}</figcaption>
        </figure>
    </a>
    
</section>
{% endblock %}